@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  
  --color-background: #F8F9FA;
  --color-foreground: #111111;
  --color-muted: #5F6368;
  --color-accent: #0B3C49;
}

:root {
  --background: #F8F9FA;
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
